.WeatherForecast table {
  text-align: center;
  font-size: 14px;
  width: 100%;
}

th,
td {
  width: 20%;
  height: 20%;
}

.Up,
.Down {
  font-size: 10px;
  padding-right: 5px;
  padding-left: 2px;
}
